<h1></h1>
<form  action="/sell_cars" method="post">
  <label for="make">Make and Model</label>
  <input id="make" type="text" name="make">

  <label for="price">Price</label>
  <input id="price" type="text" name="price">

  <label for="color">Color</label>
  <input id="color" type="text" name="color">

  <label for="mileage">Mileage</label>
  <input id="mileage" type="text" name="mileage">

  <label for="year">Year</label>
  <input id="year" type="text" name="year">

  <button type="submit">Submit</button>
</form>
